.apply_button {
    margin-top: 170px;
}

.apply_button_slider {
    margin-top: 90px;
}

.taipy-button {
    width: 60%
}


strong,
b {
    font-weight: bold;
    color: var(--color-primary);
}

.MuiAvatar-img {
    object-fit: contain;
    width: 70%;
    height: 70%;
}